:root {
  --r-heading1-size: 3em;
  --r-heading2-size: 2em;
  --r-heading3-size: 1.5em;
  --r-heading4-size: 1em;
  --r-main-font-size: 24px;
  --r-link-color: #222;
  --r-link-color-dark: #222;
  --r-link-color-hover: #888;
  --r-selection-background-color: #888;
}

small {
  font-style: italic;
}

.reveal a {
  text-decoration: underline;
}

.reveal ul {
  padding-left: 1.2rem;
  list-style: '\2013\0020'inside;
  text-indent: -1.2rem;
}

.reveal ul ul {
  padding-left: 1.2rem;
  list-style: '\2013\0020'inside;
  text-indent: -1.2rem;
}

.reveal .slides {
  text-align: left;
}
